parameters:
	ignoreErrors:
		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Model/Document/Search.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Model/Document/Search.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Model/Index/SearchIndex.php
